<% include ./partials/header.ejs %>
<div class="ui main container">
<% blogs.forEach( function(blog){ %>
  <div>
      <h2> <%= blog.title %> </h2>
      <img src=" <%= blog.image %>"  width="500" height="500">
      <span> <%= blog.created %> </span>
      <p> <%= blog.body.substring(0,100) %> ... </p>
      <a href="/blogs/<%= blog._id %> " class="ui green basic button">Read More</a>
  </div>
<% }) %>
</div>
<% include ./partials/footer %>
